<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <script th:src="(script.js)"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>The U.S. Economy</title>
</head>
<body>
    <article class="center">
        <h1 th:text = "${title}">The U.S. Economy</h1><br>
    <pre>
        <nav th:fragment="header">

            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/index">Home Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/startPage">Start Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/lessons/Economy">Economy</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.investor.gov/financial-tools-calculators/calculators/compound-interest-calculator" target="_blank">Compound Interest</a></li>
                <li class="nav-item"><a class="nav-link" href="/lessons/debtStrategies">Debt Strategies</a></li>
                <li class="nav-item"><a class="nav-link" href="/lessons/spendingTracker">Spending Tracker</a></li>
                <li class="nav-item"><a class="nav-link" href="lessons/savingsTracker">Savings Tracker</a></li>
            </ul>
        </nav>

        <div class="text-wrap">
            <p>
                "It is not what we have that will make us a great nation; it is the way in which we use it."

                                        —Theodore Roosevelt, 1886 <br>

                    <br> The workings of the U.S. economy are complex and often mysterious, even to economists. At

                its simplest, the economy runs on three major sectors: consumers, businesses, and government.

                Consumers earn money and exchange much of it for goods and services from businesses. These

                businesses use the money to produce more goods and services and to pay wages to their employees.

                Both consumers and businesses fund the government sector, which spends and transfers money back

                into the system. The banking system plays a crucial role in the economy by providing the means for

                all sectors to save and borrow money. Finally, there are the stock markets, which allow consumers

                to invest their money in the nation's businesses—an enterprise that further fuels economic growth

                for all sectors. Thus, the U.S. economy is a circular system based on interdependent relationships

                in which massive amounts of money change hands. The historical developments that produced this

                system are important to understand, because they provide key information about what has made the

                U.S. economy such a powerful force in the world.

             <br>
             <br>

                Defining the U.S. Economy

                    The term market economy describes an economy in which the forces of supply and demand dictate

                the way in which goods and resources are allocated and what prices will be set. The opposite of a

                market economy is a planned economy, in which the government determines what will be produced and

                what prices will be charged. In a market economy, producers anticipate what products the market

                will be interested in and at what price, and they make decisions about what products they will

                bring to market and how these products will be produced and priced. Market economies foster

                competition among businesses, which typically leads to lower prices and is generally considered

                beneficial for both workers and consumers. By contrast, a planned economy is directed by a central

                government that has a far greater degree of influence over prices and production, as well as a

                tighter regulation of industries and manufacturing procedures. The United States has a mixed economy,

                which combines aspects of a market economy with some central planning and control to create a system

                with a high degree of market freedom along with regulatory agencies and social programs that promote

                the public welfare.

                 <br>
                 <br>

                <br>
                 Please choose a link or click next to keep going.
             </p>


             <a href="https://www.investor.gov/financial-tools-calculators/calculators/compound-interest-calculator" target="_blank">Next</a>
                 <br>
                 <br>
                 <br>
             <footer>
                  https://www.encyclopedia.com/economics/economics-magazines/us-economy-historical-overview 2019
             </footer>
        </div>
    </pre>
</article>
</body>
</html>
