<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <script th:src="(script.js)"></script>
    <title>Document</title>
</head>
<body>
    <h1 th:text = "${title}"></h1><br>

    <pre>
            It is my belief that financial knowledge regarding the history of our economic system, how to save, invest, and better position one’s self for

        future success should be taught in school as a core subject matter just as math and reading are. This project is a website designed to provide anyone

        who wishes to learn more about these subject matters a basic foundation on which they can build upon. It provides links with more detailed information

        regarding the history of our current financial system, various ways of establishing a savings, how to maintain that savings, various investments, and

        how these things can aid one in positioning themselves for a more successful future. Charts, graphs, calculator tools, and wise sayings have been

        incorporated to make things easier, as well as memorable, for user.

    </pre>
    <button id = "enterButton">Enter</button>
</body>
</html>