<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <script th:src="(script.js)"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>$$ Financial Lessons for Beginners $$</title>
   </head>
<body>
    <article class="center">
        <pre>
        <nav th:fragment="header">
            <h1 th:text = "${title}">$$ Financial Lessons for Beginners $$</h1><br>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/index">Home Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/startPage">Start Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/lessons/Economy">U.S. Economy</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.investor.gov/financial-tools-calculators/calculators/compound-interest-calculator" target="_blank">Compound Interest</a></li>
                <li class="nav-item"><a class="nav-link" href="/lessons/debtStrategies">Debt Strategies</a></li>
                <li class="nav-item"><a class="nav-link" href="/spendingTracker">Spending Tracker</a></li>
                <li class="nav-item"><a class="nav-link" href="/savingsTracker">Savings Tracker</a></li>
            </ul>
        </nav>

            <p>
                PREPARE TO BE INFORMED - FOR APPLIED KNOWLEDGE IS POWER!

                Please choose one of the links or start from the beginning by simply clicking next. </p>

            <a href="/lessons/Economy">Next</a>
        </pre>
    </article>
</body>
</html>
